.super-mario {
    width: 200px;
    position: absolute;
    top: 70px;
    left: 40px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    left: 90px;
  }
  
  .baloon {
    position: absolute;
    z-index: 1;
    left: 320px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
    left: 340px;
    top: 120px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 240px;
  }